@import url(./editor.css);
@import url(./sidebar.css);
@import url(./tags.css);
@import url(./category.css);
@import url(./index.css);
@import url(./archives.css);
@import url(./right-panel.css);
@import url(./post.css);

body {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1A1A1A;
    color: #E3E3E3;
    margin: 0;
    font-size: 16px;
}

a {
    color: #8DB8B8;
}

a:hover {
    color: #3D8A8A;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1 i, h2 i, h3 i, h4 i, h5 i {
    margin-right: 1rem;
}

.content {
    display: flex;
    margin-left: 300px;
    width: calc(100% - 300px);
}

.content > div:first-of-type {
    flex-grow: 1;
    padding: 2rem;
    padding-right: 4rem;
}

.mb-100 {
    margin-bottom: 1rem;
}

.mb-200 {
    margin-bottom: 2rem;
}